*{
    box-sizing: border-box; 
    margin: 0px;
}

/* header sfondo */

#Container-1 {
    margin-left: 10px;
}

header {
    height:175px;
    background-color:rgba(0, 110, 255, 0.562);
    background-image: url("../img/pattern.png");
}

#logo-Booleaner {
   height: 50px;
   margin-top: 63px;
   margin-left: 20px;
}

/* Testi */

.Firma, #Data {
    color: grey;
}

#Link-interesse {
    margin-left: 10px;
}

#Data {
    font-size: 12px;
}

#Container-2 {
    margin: 10px;
}

}

#Autore {
    color: aqua;
}

p {
    margin: 10px;
}

.Didascalia {
    font-size: 10px;
    margin-left: 10px;
}

.Evidenziatore {
    background-color:yellow;
}

ul {
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Tabella */

#Row1  {
    background-color: aqua; 
    color:white; 
    font-weight: bold;
}

.Row2 {
    background-color: rgba(127, 255, 212, 0.438);
}

.Colonna1 {
    width: 25%;
}

.Colonna3 {
    width: 50%;
}


/* Immagini */

.Foto {
    margin-left: 10px;
    margin-top: 10px;
}

.Testi-immagini {
    font-weight: bold;
    color: white;
    padding-top:10px;
    padding-left: 5px;
}

#Riga-Immagine1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-image: url(/html-css-booleaner/img/graph.jpg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;

}

#Riga-Immagine2 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 200px;
    height: 100px;
    background-image: url(/html-css-booleaner/img/monitor.jpg);
    background-size: cover;
    background-position: center;
    }

