*{
    box-sizing: border-box; 
    margin: 0px;
}

/* header sfondo */

#background {
    background-color:rgba(0, 110, 255, 0.562);
    height: 100%;
    background-image: url("../img/pattern.png");
}

header {
    height:175px;
}

#logo-Booleaner {
   height: 50px;
}

/* Testi */

.Firma, #Data {
    color: grey;
}

#Data {
    font-size: 12px;
}

#Container-1 {
    margin: 10px;
}

#Container-2 {
    margin: 0px;
}

#Autore {
    color: aqua;
}

p {
    margin: 10px;
}

.Didascalia {
    font-size: 10px;
    margin-left: 10px;
}

.Evidenziatore {
    background-color:yellow;
}

/* Tabella */

#Row1  {
    background-color: aqua; 
    color:white; 
    font-weight: bold;
}

.Row2 {
    background-color: rgba(127, 255, 212, 0.438);
}


/* Immagini */

.Foto {
    margin-left: 10px;
    margin-top: 10px;
}